span {
  color: red;
}

.navbar {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins";
  padding-left: 15px;
}

.navbar-brand {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
}

.navbar-brand:hover {
  color: rgb(255, 0, 0);
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: red;
}
.navbar-collapse {
  justify-content: flex-end;
}
